---
import FormattedDate from '../components/FormattedDate.astro';
import type { CollectionEntry } from 'astro:content';

type post = CollectionEntry<'blog'>;

const { post } = Astro.props;
---
<article class="flex justify-start items-center">
    <a 
        class="flex justify-start items-center"
        href={`/blog/${post.slug}/`}
    >
        <header 
            class="
                w-12 h-full mr-2 flex items-start 
                font-mono text-lg
            "
        >
            <p class="h-full">{post.data.number}</p>
        </header>
        <div class="w-full">
            <h3 class="w-full font-bold text-2xl tracking-wider">
                {post.data.title}
            </h3>
            <ul class="card-info">
                <li>{post.data.description}</li>
                <li>{post.data.description}</li>
                <p>ref.:{post.data.serie}</p>
            </ul>
        </div>
        <footer class="w-40 font-mono">
            <p class="date">
                <FormattedDate date={post.data.pubDate} />
            </p>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
        </footer>
    </a>
</article>