---
import FormattedDate from "../components/FormattedDate.astro";
import type { CollectionEntry } from "astro:content";

type post = CollectionEntry<"blog">;

const { post } = Astro.props;
---

<article class="w-full h-full">
    <a
        class="w-full h-full flex flex-col justify-end items-start"
        href={`/blog/${post.slug}/`}
    >
        <section class="w-full h-full">
            <div class="w-full py-2 flex justify-start items-start">
                <h3 class="w-full font-bold text-2xl tracking-wider">
                    {post.data.title}
                </h3>
            </div>
            <div class="w-full flex justify-start items-start">
                <p class="h-full mr-4">{post.data.number}</p>
                <!-- <ul class="card-info">
                    <li>{post.data.description}</li>
                    <p>ref.:{post.data.serie}</p>
                </ul> -->
                <p class="w-full text-xl font-mono">
                    <FormattedDate date={post.data.pubDate} />
                </p>
            </div>
        </section>
        <footer class="w-full h-full">
            <div class="w-full">
                {
                    post.data.heroImage && (
                        <img
                            width={800}
                            height={400}
                            src={post.data.heroImage}
                            alt=""
                        />
                    )
                }
            </div>
            <!-- <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon> -->
        </footer>
    </a>
</article>
